imgui.ini
!args.ini
*.pyc
__pycache__
a.lua
debug*.txt
potentialEnergy.txt
inertialEnergy.txt
kineticEnergy.txt
totalEnergy.txt
.vscode
log.txt
result/*.txt
result/*
engine.egg-info
build
dist
run.py
/*.txt
/*.mtx
/*.npy
./P.mtx
./R.mtx
profile*
*.prof
*.txt
*.mtx
*.png
.DS_Store
*.log
*.csv
*.vtu
!CMakeLists.txt
cache*.npz